@import "tailwindcss";
@source "./public/*.{html,js,templ}";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "mylight";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #e9f0f5;
  --color-base-200: oklch(95% 0.03 240);
  --color-base-300: oklch(92% 0.04 240);
  --color-base-content: oklch(20% 0.05 240);
  --color-primary: #2b7fff;
  --color-primary-content: oklch(98% 0.01 240);
  --color-secondary: oklch(70% 0.25 200);
  --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: oklch(65% 0.25 160);
  --color-accent-content: oklch(98% 0.01 160);
  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
}

@plugin "daisyui/theme" {
  name: "mydark";
  default: false;
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: oklch(20.8% 0.042 265.755);
  --color-base-200: oklch(24% 0.02 240);
  --color-base-300: oklch(32% 0.03 240);
  --color-base-content: oklch(95% 0.01 240);
  --color-primary: #2b7fff;
  --color-primary-content: oklch(98% 0.01 260);
  --color-secondary: oklch(65% 0.2 180);
  --color-secondary-content: oklch(98% 0.01 180);
  --color-accent: oklch(70% 0.25 150);
  --color-accent-content: oklch(98% 0.01 150);
  --color-neutral: oklch(30% 0.02 240);
  --color-neutral-content: oklch(90% 0.01 240);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
}
